@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
	input[type="number"]::-webkit-inner-spin-button,
	input[type="number"]::-webkit-outer-spin-button {
		-webkit-appearance: none;
		margin: 0;
	}
}

.custom-border {
	clip-path: path(
		"M236.502 52C258.593 52 276.502 34.0914 276.502 12V12C276.502 5.95962 280.816 0 286.857 0L456 0C465.941 0 474 8.05888 474 18V549C474 558.941 465.941 567 456 567H22C12.0589 567 4 558.941 4 549V18C4 8.05887 12.0589 0 22 0L186.147 0C192.188 0 196.502 5.95962 196.502 12V12C196.502 34.0914 214.411 52 236.502 52Z"
	);
}

.round-border {
	clip-path: circle(50%);
}

:root {
	font-family: "Poppins", sans-serif;
	line-height: 1.5;
	font-weight: 400;

	color-scheme: light dark;
	color: rgba(255, 255, 255, 0.87);
	background-color: #000000;

	font-synthesis: none;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	-webkit-text-size-adjust: 100%;
}
